.seccion1 {
  width: 90%;
}

.card a {
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.3s ease;
  font-size: 14px;
}

.card a:hover {
  color: var(--primary);
}

.donde-estamos{
  background-color: #d4dadc !important;
}

#map {
  height: 100%;
}

.ubicaciones div.location {
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer !important;
  transition: all 0.1s ease;
}

.ubicaciones div.location:hover {
  color: white;
  background-color: var(--secondary);
}

.ubicaciones p,
.ubicaciones h5 {
  margin: 0;
}
