.card-container {
  max-width: 650px;
  height: 350px;
  perspective: 800px;
}

.card-container:hover > .flip-card {
  cursor: pointer;
  transform: rotateX(180deg);
}

.flip-card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1200ms;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(var(--bs-secondary-rgb), 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.flip-card.tel .card-front {
  background: url(../img/telefono-contacto.png) left top;
  background-size: cover;
}

.flip-card.mail .card-front {
  background: url(../img/correo-contacto.png) right top;
  background-size: cover;
}

.flip-card.tel .card-back {
  background: url(../img/telefono-contacto-back.png) left top;
  background-size: cover;
}

.flip-card.mail .card-back {
  background: url(../img/correo-contacto-back.png) right top;
  background-size: cover;
}

.card-back {
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card-back .list-group-item {
  background: none !important;
  border: none !important;
}

.card-back .body {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.45);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(255, 255, 255, 0.21);
}

.flip-card a {
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.3s ease;
  font-size: 0.9em;
  font-weight: bold;
}

.flip-card a:hover {
  color: var(--light);
}

.donde-estamos {
  background-color: #d4dadc !important;
}

#map {
  height: 100%;
}

.ubicaciones div.location {
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer !important;
  transition: all 0.1s ease;
}

.ubicaciones div.location:hover {
  color: white;
  background-color: var(--secondary);
}

.ubicaciones p,
.ubicaciones h5 {
  margin: 0;
}
