/* Sections -------------------------------------------------------------------- */

.banner-sections .row > .col-md-4 {
  height: 250px;
  padding: 0 30px;
  transition: transform 0.3s ease;
}

.banner-sections .row > .col-md-4 p {
  text-align: center;
  color: white !important;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.banner-sections .row > a:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.banner-sections .row > .col-md-4:nth-child(1) {
  background: var(--bg-secondary),
    url(../img/banner-soluciones.jpg) no-repeat center center;
  background-size: cover;
}

.banner-sections .row > .col-md-4:nth-child(1):hover {
  background: var(--bg-primary),
    url(../img/banner-soluciones.jpg) no-repeat center center;
  background-size: cover;
}

.banner-sections .row > .col-md-4:nth-child(2) {
  background: var(--bg-secondary),
    url(../img/banner-agro.jpg) no-repeat center center;
  background-size: cover;
}

.banner-sections .row > .col-md-4:nth-child(2):hover {
  background: var(--bg-agro),
    url(../img/banner-agro.jpg) no-repeat center center;
  background-size: cover;
}

.banner-sections .row > .col-md-4:nth-child(3) {
  background: var(--bg-secondary), url(../img/banner-ia.jpg) no-repeat center center;
  background-size: cover;
}

.banner-sections .row > .col-md-4:nth-child(3):hover {
  background: var(--bg-ia), url(../img/banner-ia.jpg) no-repeat center center;
  background-size: cover;
}

.link {
  color: inherit;
  text-decoration: none;
}

/* Servicios 360 ---------------------------------------------*/

.it-360 .menu div a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary);
}

.it-360 .menu div a:focus {
  color: var(--primary);
}

.image-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.it-360 .collapsing {
  transition: none;
}

hr.it-360 {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(46, 46, 58, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Carrusel ----------------------------------------------------*/

#carruselSoluciones .carousel-inner {
  padding: 4em 2em;
}

#carruselSolucionesMovil .carousel-inner {
  padding: 4em 2em;
}

.carousel-control-prev,
.carousel-control-next {
  width: min-content !important;
}

/* DIV kit digital */
.kit-digital {
  min-height: 350px;
  background: url(../img/kit-digital-bg.png) center center no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .kit-digital {
    min-height: 550px;
    background: url(../img/kit-digital-bg-mobile.png) center center no-repeat;
    background-size: contain;
  }
}

/* Banner video Youtube ----------------------------------------------------*/
.video-intro {
  min-height: 30vh;
  background: var(--bg-secondary),
    url(../img/fondo-video.jpg) no-repeat center center;
  background-size: cover;
}

.video-intro img {
  transition: all 0.3s;
}

.video-intro img:hover {
  transform: scale(1.3);
}

/* Casos exito ----------------------------------------------------*/
.casos-exito {
  background: url(../img/casos-exito-bg.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.casos-exito .carousel-item {
  margin-bottom: 200px;
}

#carruselCasosExito .carousel-indicators > button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background-color: var(--primary);
}

/* Logos clientes ----------------------------------------------------*/
.logos-clientes img {
  width: 120px;
  margin: 0 em;
  -webkit-user-drag: none;
  user-select: none;
  transition: all 0.3s;
}

.logos-clientes img:hover {
  transform: scale(1.1);
}
