.kit-container {
  min-height: 25em;
  display: flex;
  flex-direction: row;
}

.card-kit {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background: rgba(var(--secondary-rgb), 0.2);
  color: var(--bs-blanco);
  border-radius: var(--bs-card-inner-border-radius);
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-kit:hover {
  background: rgba(var(--secondary-rgb), 0.4);
}

.kit-titulo {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: all 0.2s ease-in-out;
}

.card-kit:hover .kit-titulo {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.kit-modal {
  opacity: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: all 0.2s ease-in-out;
}

.card-kit:hover .kit-modal {
  padding-top: 1em;
  padding-bottom: 1em;
  opacity: 1;
}

.kit-precio {
  display: flex;
  justify-content: end;
}

.kit-descripcion {
  border-radius: 0 0 var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: all 0.2s ease-in-out;
}

.card-kit:hover .kit-descripcion {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.modal-footer {
  justify-content: flex-start;
}
