.card {
  height: 100%;
}

.card p {
  margin: 0;
}

.card-title strong {
  color: var(--primary);
}

.circle-container {
  margin-top: 5em;
  width: 70vh;
  height: 70vh; 
  position: relative;
}

.icon {
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.icon img {
  max-height: 130px;
}

/* Logos clientes ----------------------------------------------------*/
.logos-clientes img {
  width: 120px;
  margin: 0 em;
  -webkit-user-drag: none;
  user-select: none;
  transition: all 0.3s;
}

.logos-clientes img:hover {
  transform: scale(1.1);
}