$primary: #FA8C02;
$secondary: #2E2E3A;
$light: #e9ecef;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "agro": #216425,
    "ciberseguridad": #007685,
    "legaltech": #AB1833,
    "ia": #7139C4,
    "blanco": #FFFFFF,
    "negro": #000000,
    "gris": #C2C2C2,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$min-contrast-ratio: 2;
$enable-responsive-font-sizes: true;
$border-radius: 0.5rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.5rem;

$modal-backdrop-opacity:            0;

@import "../node_modules/bootstrap/scss/bootstrap";