/* Formulario contacto ----------------------------------------------------*/

::placeholder {
  color: var(--secondary) !important;
  font-size: 14px !important;
  opacity: 1; /* Firefox */
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid var(--secondary) !important;
  border-radius: 0;
  background-color: transparent !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary) !important;
  background-color: transparent !important;
}

.form-control:focus + label {
  font-size: 0.75rem;
  color: var(--secondary);
  top: -0.8rem;
}

.form-control:not(:placeholder-shown) + label {
  font-size: 0.75rem;
  color: var(--secondary);
  top: -0.8rem;
}

label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  transition: all 0.2s ease-out;
}

.form-check-label {
  position: relative;
  top: 0;
  font-size: 14px;
}

form button {
  padding: 0.5em 1em !important;
  font-size: 20px !important;
}

/* Footer -------------------------------------------------- */

/* div.formulario {
  background: var(--bg-white),
    url(img/formulario-bg.jpg) no-repeat center bottom;
  background-size: cover;
} */

div.formulario {
  background: var(--bs-light);
}

.footer-legal .logo {
  height: 60px;
}

.footer-legal a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  font-size: 14px;
}

.footer-legal a:hover {
  color: var(--primary);
}

/* Footer menú -------------------------------------------------- */

.footer-menu a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  font-size: 14px;
}

.footer-menu a:hover {
  color: var(--primary);
}

.redes-sociales a {
  transition: all 0.3s ease;
}

.redes-sociales a:hover {
  transform: scale(1.2);
}
